.container{
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.header{
    text-align: left;
}

.header>h2{
    margin: 0;
    padding: 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 100%;
    text-transform: lowercase;
}
.header span{
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: .8px #000;
}

.projects{
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
}
.project{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    justify-content: baseline;
    padding: 10px;
}
.project__image{
    padding: 10px;
}
.project__name{
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1;
}
.project__text{
    font-size: 2.58333vw;
    line-height: 133%;
    letter-spacing: -.03em;
}
.project__tags{
    color: #6f6f6f;
    font-size: 1.16667vw;
    letter-spacing: .04375em;
    line-height: 156%;
}

@media screen and (min-width:1200px){
.header{
    padding: 0;
}
}
@media screen and(max-width:900px){
    .projects{
        display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    }
    .project{
        width: 50%;
        padding: 40px 20px;
    }
    .project__image img{
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 40px;
    }
}
@media screen and (min-width:768px){
    .header{
        text-align: left;
    }
    .header>h2{
        font-size: 60px;
    }
}
@media screen and (min-width:360px){
    .header>h2{
    font-size: 42px;
    }

    }